@{
    ViewData["Title"] = "_Layout2";
}

<!DOCTYPE html>
<html>
<head>
    <title>Asp.Net Core MVC Practice Area</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Asp.Net Core MVC Practice Area</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/User/Login">Login</a></li>
                <li class="nav-item active"><a class="nav-link" href="/home/Index">Departments</a></li>
                <li class="nav-item active"><a class="nav-link" href="/employee/Index">Employees</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Exit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
</div>


</body>
</html>