@model WhoWorksHere.Models.Employee

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>New Employee</h3>
<br/>
<form asp-action="AddEmployee" asp-controller="Employee">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <b><label asp-for="FirstName" class="control-label"></label></b>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <b><label asp-for="LastName" class="control-label"></label></b>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
        <b><label asp-for="Address" class="control-label"></label></b>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
        <label asp-for="Department.DepartmentName" class="control-label"></label>
        <select asp-for="Department.DepartmentName" class ="form-control" asp-items="ViewBag.DepartmentName"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Employee" class="btn alert-info" />
    </div>
</form>