@model WhoWorksHere.Models.Department

@{
    ViewData["Title"] = "AddDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<h3>New Department</h3>

<form class="form-group" method="post">
    <b>@Html.LabelFor(d => d.DepartmentName)</b>
    @Html.TextBoxFor(d => d.DepartmentName, new {@class = "form-control"})
    <br/>
    <button class="btn alert-info"><b>Add Department</b></button>
</form>