@model WhoWorksHere.Models.Department

@{
    ViewData["Title"] = "AddDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<h3>New Department</h3>

<form asp-action="AddDepartment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="DepartmentName" class="control-label"></label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>