@using WhoWorksHere.Models
@model List<Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br />
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Department</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
        <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.DepartmentName</td>
            <td><a href="/home/deletedepartment/@item.Id" class="btn alert-danger">Delete</a></td>
            <td><a href="#" class="btn alert-success">Update</a></td>
            <td><a href="#" class="btn alert-info">Details</a></td>
        </tr>
    }
    </tbody>
</table>

<a href="/home/AddDepartment" class="btn alert-primary">Add New Department</a>