@model WhoWorksHere.Models.Department

@{
    ViewData["Title"] = "UpdateDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
@using (Html.BeginForm("UpdateDepartment", "Home", FormMethod.Post))
{
    <b>Department Id</b>
    @Html.TextBoxFor(d => d.Id, new { @class = "form-control" })
    <br/>
    <b>@Html.LabelFor(d => d.DepartmentName)</b>
    @Html.TextBoxFor(d => d.DepartmentName, new { @class = "form-control" })
    <br />
    <button class="btn alert-info"><b>Update Department</b></button>
}

